* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  height: 12vh;
}

main {
  width: 600px;
  margin: 0 auto;
  background-color: lightgray;
  padding: 20px;
  position: relative;
  height: 88vh;
  overflow: hidden;
}

#item-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#garage-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 88vh;
  z-index: 2;
}

#garage-door {
  height: 75vh;
  overflow-y: scroll;
}

.open-door {
  transform: translate(0, -1000px);
  transition-duration: 2s;
}

.close-door {
  transform: translate(0, 0px);
  transition-duration: 2s;
}

.item-card {
  border: 1px solid black;
  padding: 5px;
}

.hidden {
  display: none;
}
